dl.well.muted
  dt Status
  dd #{status}
  dt Version
  dd #{version} | 
    date #{releaseDate}
  dt License
  dd #{license}
  dt Environments
  dd Browser
  dt Resources
  dd
    a( href="./spec/", title="Run the nsls specs in your browser" ) Specs
    , 
    a( href="http://jsperf.com/nsls-vs-native-storage" title="nsls vs native localStorage on jsperf.com" ) jsPerf
    , 
    a( href="https://github.com/rudylattae/nsls", title="Source repo and issue tracker" ) GitHub
  hr.divider
  dt Install with
  dd Bower, Component... soon
  dt Download
  dd
    a(href="dist/nsls.js" class="btn btn-primary btn-small") Full (4.2k)
    a(href="dist/nsls.min.js" class="btn btn-small") Minified (1.4k)
  dt Embed
  dd
    a(href="dist/nsls-embed.js" class="btn btn-small") Full (4.2k)
    a(href="dist/nsls-embed.min.js" class="btn btn-small") Minified (1.4k)